.col-8{
    background-color: bisque;
    height: 100%;
}
.col-4{
    background-color: aquamarine;
    position: relative;
}
.qstncontainer{
    height:80%;
    width: 100%;
    display: flex;
    background-color: blueviolet;
}